{% extends 'base.html' %}
{% block content %}

    <div class="container">
    <h2>Автобусы</h2>
    <input id="myInput" type="text" placeholder="Найти..">
    <br>         
    <table class="table table-bordered table-striped table_sort">
                <thead>
                    <tr>
                        <th class="sort">id</th>
                        <th class="sort">Номер автобуса</th>
                        <th>Дата маршрута</th>
                        <th class="sort">Число пассажиров</th>
                        <th class="sort">Пройденное расстояние</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                {% for wel in wels.items %}
                <tr>
                    <th>{{wel.id}}</th>
                    <th>{{wel.title}}</th>
                    <td>{{wel.date}}</td>
                    <td>{{wel.quantity}}</td>
                    <td>{{wel.distance}}</td>
                {% endfor %}
                </tr>
            </tbody>
    </table>
  </div>
  
<div class="container">
        {% for page_num in wels.iter_pages(left_edge=1, right_edge=2, left_current=2, right_current=2) %}
              {% if page_num %}
                  {% if page_num == wels.page %}
            <ul class="pagination">
              <li><a href="{{url_for('index', page=page_num)}}"> {{ page_num }} </a></li>
         </ul>
            {% else %} 
            <ul class="pagination">
              <li><a href="{{url_for('index', page=page_num)}}"> {{ page_num }} </a></li>
              {% endif %}    
              {% else %}
              ...
              {% endif %}
          {% endfor %} 
</div>



{% endblock %}